
body {
    font-family: 'Montserrat';
    text-align: center;
}

h1 {
    font-weight: 700;
}

p {
    color: #8f8f8f;
}

/* Containers */

.container-fluid {
    padding: 3% 10%;
}

/* Navigation Bar */

.navbar {
    padding: 0;
}

.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    padding: 1rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-weight: 300;
    color: white;
}

/* SECTIONS */

.colored-section {
    background-color: #3E54AC;
}

.buttons {
    margin: 5% 3% 5% 0;
}

/* BUTTON CSS */

.btn {
    background: #b700ff;
    background-image: linear-gradient(to bottom, #b700ff, #ff0066);
    border-radius: 60px;
    text-shadow: 7px 6px 5px #000000;
    font-family: 'Montserrat';
    font-weight: 600;
    color: #ffffff;
    font-size: 30px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #ffc107;
    background-image: linear-gradient(to bottom, #ffc107, #00ff1e);
    color: #ffffff;
    text-decoration: none;
  }